exclude MANIFEST.in
include requirements.txt
include wpttests/device_setup/*
include wpttests/prefs/*.js
include config.ini
include wpttests/gecko_runner.html
include wpttests/testharnessreport.js
include wpttests/testharness.js
include wpttests/reftest.js
include wpttests/config.json
include wpttests/server-locations.txt